{% if snmp and snmp.enabled -%}
{% for community in snmp.communities -%}
snmp-server community {{ community }} RO
{% endfor -%}
{% for server in snmp.servers -%}
snmp-server host {{ server }}
{% endfor -%}
{% endif -%}