{% for intf in interfaces %}
{% if intf.name != 'mgmt' %}
interface {{ intf.name }}
  {% if intf.type == 'routed' or intf.mode == 'routed' %}
   routing
  {% endif %}
  {% if intf.ipv4 %}
   ip address {{ intf.ipv4 }}
  {% endif %}
   no shutdown
{% endif %}
{% endfor %}