{% if snmp is defined and snmp.community %}
snmp-server community {{ snmp.community }}
{% endif %}
{% if snmp is defined and snmp.hosts %}
{% for host in snmp.hosts %}
snmp-server host {{ host.ip }} trap community {{ host.community | default(snmp.community) }}
{% endfor %}
{% endif %}