{% if bgp and bgp.enabled -%}
router bgp {{ bgp.local_as }}
{% if bgp.router_id -%}
   router-id {{ bgp.router_id }}
{% endif -%}
{% for neighbor in bgp.neighbors -%}
   neighbor {{ neighbor.address }} remote-as {{ neighbor.remote_as }}
{% if neighbor.description -%}
   neighbor {{ neighbor.address }} description {{ neighbor.description }}
{% endif -%}
{% endfor -%}
{% for network in bgp.networks -%}
   network {{ network }}
{% endfor -%}
!
{% endif -%}