{% for iface in interfaces %}
interface {{ iface.name }}
  {% if iface.mgmt_only %}
  description OOB_Management
  {% else %}
  no switchport
  {% endif %}
  {% if iface.ip_address %}
  ip address {{ iface.ip_address }}
  {% endif %}
  no shutdown
!
{% endfor %}