{% for interface in interfaces -%}
interface {{ interface.name }}
{% if interface.description -%}
   description {{ interface.description }}
{% endif -%}
{% for ip in interface.ip_addresses -%}
   ip address {{ ip }}
{% endfor -%}
{% if interface.enabled -%}
   no shutdown
{% else -%}
   shutdown
{% endif -%}
!
{% endfor -%}