{% if management and management.enabled -%}
{% if management.default_gateway -%}
ip route 0.0.0.0/0 {{ management.default_gateway }}
{% endif -%}
{% if management.ssh_enabled -%}
management ssh
   no shutdown
!
{% endif -%}
{% endif -%}