{% if ospf and ospf.enabled -%}
router ospf {{ ospf.process_id }}
{% if ospf.router_id -%}
   router-id {{ ospf.router_id }}
{% endif -%}
{% for network in ospf.networks -%}
   network {{ network }} area 0.0.0.0
{% endfor -%}
!
{% endif -%}